@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

* {
    box-sizing: border-box; 
}

/* PALETA DE CORES HARDCORE */
:root {
    --primary-color: #FF3333;  /* Vermelho Fogo: Destaque, Títulos, Ação */
    --secondary-color: #F0F0F0; /* Quase Branco: Texto Principal */
    --tertiary-color: #8A8A8A; /* Cinza Médio: Detalhes, Bordas Secundárias */
    --bg-color: #0D0D0D ;      /* Preto Escuro: Fundo principal */
}

body {
    margin: 0; 
    background: var(--bg-color); 
    color: var(--secondary-color); 
    font-family: "Quicksand", sans-serif; 
}

header {
    padding: 2rem 1rem; 
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    position: sticky; 
    top: 0; 
    background: var(--bg-color); 
    z-index: 10; 
    border-bottom: 1px solid var(--tertiary-color);
    gap: 1rem; 
}

header h1 {
    font-size: 1.5rem; 
    margin: 0; 
    font-weight: 900; 
    white-space: nowrap; 
    color: var(--primary-color); 
}

div input {
    padding: 0.375rem 0.75rem; 
    border-radius: 1rem; 
    border: 1px solid var(--tertiary-color); 
    background: var(--bg-color); 
    font-family: inherit; 
    font-size: 1.5rem; 
    transition: all 0.2s ease; 
    width: 30rem; 
    color: var(--secondary-color); 
    margin-right: .5rem; 
}

div input::placeholder {
    font-size: 1.2rem; 
    font-weight: 300; 
    color: var(--tertiary-color); 
}

div input:focus {
    outline: none; 
    border: 2px solid var(--primary-color); 
    box-shadow: 0 0 10px rgba(255, 51, 51, 0.4); 
}

#botao-busca {
    padding: 1rem 2rem; 
    border-radius: 1rem; 
    cursor: pointer; 
    font-family: inherit; 
    font-weight: 500; 
    font-size: 1rem; 
    white-space: nowrap; 
    transition: background-color 0.2s ease, color 0.2s ease; 
    background-color: var(--primary-color); 
    color: var(--bg-color); 
    border: 1px solid var(--primary-color); 
}

#botao-busca:hover {
    background-color: #E60000; 
    color: var(--secondary-color); 
    box-shadow: 0 0 10px rgba(255, 51, 51, 0.6); 
}

#botao-busca:active {
    transform: scale(0.98); 
}

main {
    overflow-y: scroll; 
    max-width: 80rem; 
    margin: 0 auto; 
    margin-top: 2rem; 
    height: calc(100vh - 10rem - 4rem); 
}

article {
    background: none; 
    border-radius: 0; 
    padding: 0 1rem; 
    margin-bottom: 1.25rem; 
    box-shadow: none; 
    transition: all 0.3s ease; 
    border-bottom: 1px solid var(--tertiary-color); 
    border-left: 5px solid var(--tertiary-color); 
    padding-bottom: 1.5rem; 
}

article:hover {
    transform: scale(1.005); 
    cursor: pointer; 
    border-left: 5px solid var(--primary-color); 
    background-color: rgba(255, 51, 51, 0.05); 
}

article h2 {
    margin-top: 0; 
    font-weight: 600; 
    font-size: 1.6rem; 
    margin-bottom: 0.25rem; 
    color: var(--primary-color); 
}

article p {
    margin: 0.5rem 0; 
    line-height: 1.6; 
    font-size: 1rem; 
    margin-bottom: 0.5rem; 
    color: var(--secondary-color); 
}

article p strong {
    color: var(--tertiary-color); 
    font-weight: 400; 
}

article a {
    color: var(--primary-color); 
    text-decoration: none; 
    font-weight: 200; 
}

article a:hover {
    text-decoration: underline; 
}

.footer {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    color: var(--tertiary-color); 
    background-color: var(--bg-color); 
    padding: 15px 20px; 
    border-top: 1px solid var(--tertiary-color); 
    font-size: 0.8rem; 
}

.footer-location {
    color: #9aa0a6; 
    margin-bottom: 10px; 
}

.footer-links {
    list-style: none; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 15px; 
}

.footer-links a {
    color: var(--secondary-color); 
    text-decoration: none; 
    transition: color 0.2s; 
}

.footer-links a:hover {
    color: var(--primary-color); 
}

/* MEDIA QUERIES (Responsividade) */
@media (max-width: 768px) {
    header { 
        flex-direction: column; 
        padding: 1rem; 
    }

    header h1 { 
        text-align: center; 
        margin-bottom: 1rem; 
    }

    div input { 
        width: 90vw; 
        font-size: 1.2rem; 
    }

    main { 
        padding: 0 1rem; 
    }

    article:hover { 
        transform: none; 
    }
}

@media (max-width: 480px) {
    header h1 { 
        font-size: 1rem; 
        max-width: 70%; 
        word-wrap: break-word; 
    }

    div input, 
    div input::placeholder {
        font-size: 1rem; 
    }

    article h2 { 
        font-size: 1.3rem; 
    }

    div { 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        flex-direction: column; 
        gap: 0.5rem; 
    }

    .footer { 
        display: none; 
    }

    button { 
        margin-top: 1rem; 
    }
}